<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3"></script>
    <script scr ="main.js"></script>
    <title>Password Shower</title>
    
</head>
<h1> Hi There Please enter your Email and Password Below </h1>
  <head>For Task 1 of Week 6 SIT120 webb responsive apps </head>
    <h2> Password Shower</h2>
  </head>

  <body>
    <div id="app">
        <p> Email Name</p>
        <input v-model='email'
         placeholder="Please Enter Email"
         />
         <p>Email is: {{email}} </p>
        <p> Password </p>
        <input 
        v-model='Password'
        type='text'
         placeholder="Enter Password"
         />
         <p>Password is: {{Password}}</p>      
    </div>
  </body> 
</html>
<script src ="main.js"></script>
